/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;


}

/* home sectoin */
#home {
    height: 280px;
    padding: 3px 68px;

}

#home::before {
    height: 370px;

}

#home p {
    font-size: 13px;

}

#services {
    flex-direction: column;
}

#services .box {

    padding: 14px;
    margin: 2px;
    margin-bottom: 20px;
}

/* clients section */
#clients {
    flex-wrap: wrap;

}

#clients img {
    width: 50px;
    padding: 5px;
    height: auto;
}


/* contact us section  */
/* footer  */
/* utility classes */
.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding: 4px 9px;
}